main {
	/*position: relative;*/
	clear:both;
	margin-bottom:20px;}

.grid__item {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100vw;}

.grid__item--bg {
	background-color: var(--item-bg);
	height: 100vw;}

.grid__item-content {
	width: 100%;
	padding: 5vw;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	pointer-events: none;
	background: var(--item-bg);
}

.grid__item--bg .grid__item-content {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.grid__item-img {
	display: block;
	height: 100%;
	width: 100%;
}

.grid__item-img canvas {
	height: 100%;
}

.grid__item-img img {
	height: 100%;
	display: block;
}

.grid__item-img img:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.3s;
}

.grid__item:hover .grid__item-img img:nth-child(2) {
	opacity: 1;
}

.js .grid__item-img img {
	display: none;
}

.grid__item-title {
	line-height: 1;
	color: var(--item-title);
	font-family: 'Roboto-Bold' !important;
	font-size:40px !important;
	margin:0px;
	}

.grid__item-title--small {
	font-size: 1.5rem;
	line-height: 1.25;
	font-family: 'Roboto-Light' !important;
	margin-bottom: 1rem;
}

.galeria{
	color:#2e2d2c;
	}

.grid__item-meta {
	font-family: 'Roboto-Bold' !important;
	letter-spacing: 0.25rem;
	font-size: 0.95rem;
	color: var(--item-meta);
	}	

.grid__item-subtitle {
	display: block;
	margin: auto 0 0 0;
	font-weight: 400;
	font-size: 1.5em;
	color: var(--item-subtitle);
}

.grid__item-subtitle span {
	display: block;
}

.grid__item-text {
	font-size: 1rem;
	line-height: 1.75;
	margin: 2rem 0 0 0;
	color: var(--item-text);
}

.grid__item-link {
	display: inline-block;
	color: currentColor;
	position: relative;
	padding: 0 0 0.2rem;
	pointer-events: auto;
	color: var(--item-link);
}

.grid__item-link:focus,
.grid__item-link:hover {
	color: var(--item-link-hover);
}

.grid__item-link::before {
	content: '';
	position: absolute;
	background: currentColor;
	width: 80%;
	height: 1px;
	bottom: 0;
	transform-origin: 0% 50%;
	transform: scale3d(0,1,1);
	opacity: 0;
	transition: all 0.3s;
	transition-property: opacity, transform;
}

.grid__item-link:hover::before {
	opacity: 1;
	transform: scale3d(1,1,1);
}

.grid__item-link + .grid__item-link {
	margin: 0 0 0 3rem;
}

.grid__item-text + .grid__item-link {
	white-space: nowrap;
	margin-top: 1rem;
	align-self: flex-start;
	margin-top: auto;
}

.grid__item-nav {
	display: flex;
}

/* Themes */
.theme-1 {
	--item-bg: #4bb4e7;
    --item-link: #fff;
    --item-link-hover: #0d2936;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-2 {
	--item-bg: rgba(0,0,0,0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}

.theme-3 {
	--item-bg: rgba(0,0,0,0.2);
	--item-link: #fff;
	--item-link-hover: #fff;
	--item-meta: #fff;
	--item-title: #fff;
	--item-subtitle: #fff;
	--item-text: #fff;
}

.theme-4 {
	--item-bg: #5394a6;
    --item-link: #2e2d2c;
    --item-link-hover: #c7e6eb;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #2e2d2c;}

.theme-5 {
	--item-bg: #efe9dd;
    --item-link: #c7e6eb;
    --item-link-hover: #0d13c1;
    --item-meta: #fff;
    --item-title: #12161e;
    --item-subtitle: #12161e;
    --item-text: #12161e;
}

.theme-6 {
	--item-bg: rgba(0,0,0,0);
    --item-link: #12161e;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #ffffff;
    --item-subtitle: #12161e;
    --item-text: #ffffff;
}

.theme-7 {
	--item-bg: rgba(0,0,0,0);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-8 {
	--item-bg: #0c13c1;
    --item-link: #dd8ca5;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-9 {
	--item-bg: #2e2d2c;
    --item-link: #2e2d2c;
    --item-link-hover: #2e2d2c;
    --item-meta: #fff;
    --item-title: #000;
    --item-subtitle: #000;
    --item-text: #fff;}

.theme-10 {
	--item-bg: rgba(0,0,0,0);
    --item-link: #000;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #000;
    --item-text: #fff;
}

.theme-11 {
	--item-bg: rgba(0,0,0,0);
    --item-link: #000;
    --item-link-hover: #fff;
    --item-meta: #000;
    --item-title: #000;
    --item-subtitle: #000;
    --item-text: #000;
}

.theme-12 {
	--item-bg: #4d565b;
    --item-link: #f6fbfe;
    --item-link-hover: #000000;
    --item-meta: #f6fbfe;
    --item-title: #f6fbfe;
    --item-subtitle: #f6fbfe;
    --item-text: #f6fbfe;
}

.theme-13 {
	--item-bg: #d22851;
    --item-link: #712a3b;
    --item-link-hover: #f6fbfe;
    --item-meta: #f6fbfe;
    --item-title: #f6fbfe;
    --item-subtitle: #f6fbfe;
    --item-text: #f6fbfe;
}

.theme-14 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-15 {
	--item-bg: rgba(0,0,0,0.3);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-16 {
	--item-bg: #010101;
    --item-link: #63676b;
    --item-link-hover: #f6fbfe;
    --item-meta: #f6fbfe;
    --item-title: #f6fbfe;
    --item-subtitle: #f6fbfe;
    --item-text: #f6fbfe;
}

.theme-17 {
	--item-bg: #ece7e5;
    --item-link: #d68d13;
    --item-link-hover: #2d2c2c;
    --item-meta: #2d2c2c;
    --item-title: #2d2c2c;
    --item-subtitle: #2d2c2c;
    --item-text: #2d2c2c;
}

.theme-18 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

.theme-19 {
	--item-bg: rgba(0,0,0,0.1);
    --item-link: #6317f5;
    --item-link-hover: #fff;
    --item-meta: #6317f5;
    --item-title: #fff;
    --item-subtitle: #6317f5;
    --item-text: #fff;
}

.theme-20 {
	--item-bg: #6317f5;
    --item-link: #b29d85;
    --item-link-hover: #ffffff;
    --item-meta: #ffffff;
    --item-title: #ffffff;
    --item-subtitle: #ffffff;
    --item-text: #ffffff;
}

.theme-21 {
	--item-bg: #f7ac03;
    --item-link: #ffffff;
    --item-link-hover: #2d2c2c;
    --item-meta: #2d2c2c;
    --item-title: #ffffff;
    --item-subtitle: #2d2c2c;
    --item-text: #2d2c2c;
}

.theme-22 {
	--item-bg: rgba(0,0,0,0.2);
    --item-link: #fff;
    --item-link-hover: #fff;
    --item-meta: #fff;
    --item-title: #fff;
    --item-subtitle: #fff;
    --item-text: #fff;
}

@media screen and (min-width: 85em) {
	.grid__item-text {
		width: 80%;
	}
}

@media screen and (min-width: 50em) {
	.grid {
		display: grid;
		grid-template-columns: repeat(2,50vmax);
	}
	.grid__item {
		height: 50vmax;
		width: 100%;
	}
	.grid__item-subtitle * {
		opacity: 0;
		transform: translate3d(100px, 0, 0);
		transition: all 0.5s cubic-bezier(0.2, 1, 0.7, 1);
		transition-property: transform, opacity;
	}
	.grid__item:hover .grid__item-subtitle * {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	.grid__item:hover .grid__item-subtitle span {
		transition-delay: 0.1s;
	}
	.grid__item:hover .grid__item-subtitle .grid__item-link {
		transition-delay: 0s;
	}
	.grid__item-title {
		font-size: 6vw;
	}
	.grid__item-title--small {
		font-size: 3vw;
	}
	.grid__item-text {
		margin-top: 2.5rem;
	}
}
