/*

   Styles for animated modal
   =========================

*/

/* Start state */
.animated-modal {
  max-width: 750px;
  border-radius: 4px;
  overflow: hidden;
  
  transform: translateY(-50px);
  transition: all .7s;
}
#animatedModal2 {
max-width: 750px;
}
#animatedModal{
  display: none;
}
#btnbox{
  display: none;
}
.nresult{
    margin-top: 15px;
    padding-bottom: 10px;
    color: silver;
    font-weight: bolder;
}
.noresult{
  padding-top: 50px;
  padding-bottom: 70px;
  color: silver;
  font-weight: bolder;
}
.lblidioma{
    float: right;
    color: silver;
}
#areabusca{
    margin-top: -13px;
}
#animatedModal2 label{
  font-weight: bolder;
  font-size: 18px;
}
#animatedModal2 p{
  margin-top: 5px;
}

/* Final state */
.fancybox-slide--current .animated-modal{
  transform: translateY(0);
  opacity: 1;
}

