    
/* ==========================================================================
Navigation
========================================================================== */
.fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, 1); 
  z-index: 999;
  width: 100%; }
  


header {
  padding: 5px 0px 5px 0px;
  border-bottom: solid 1px rgba(131, 197, 208, 0.5);
  position: relative;
  width: 85%;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }


/* ==========================================================================
To top
========================================================================== */
.to-top {
  height: 60px;
  background-color: #2e2d2c; }
  
.to-top .to-top-wrap {
    height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center; }
	
.to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); }
	  
.to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
      background-color: rgba(0, 0, 0, 0.4); }
	  
.to-top .to-top-wrap i {
      font-size: 30px;
      line-height: 55px; }
	  
.to-top .row {
    position: relative; }
	
.arriba{
	font-size:25px !important;
	line-height:70px;
	font-family: 'Raleway-Black';}
