.ve-menu-close,.ve-menu-icon,.ve-menu-mobile{overflow:hidden;}


.ve-menu{
	/*width:50%;*/
/*	margin:0 auto;*/
    display: -webkit-box;
	border-bottom:1px solid #c7e6eb; 
	height:42px;
}
	
.ve-menu ul{
	margin:0;
	padding:0;
	list-style:none;
}	

.ve-menu a{
	float:left;
	display:inline-block;
	width:100%;
	text-align:center !important;
	text-decoration:none;color:#fff;
	/*background:url("../img/bullet.png") 0 0  no-repeat !important; 
	background-position: right !important;
	background-size: 10px 10px !important;*/
	/*padding:0px 10px 0px 10px*/
}
.ve-menu>.ve-menu-pc>li{
	position:relative;
	float:left;
	cursor:pointer;
	    width: auto !important;
	/******/
	float: left;
    display: inline-block;
    width: 100%;
    text-align: center !important;
    text-decoration: none;
    color: #fff;
    background: url(../img/bullet.png) 0 0 no-repeat !important;
    background-position: right !important;
    background-size: 10px 10px !important;
    /*padding: 0px 10px 0px 10px;  */	
		
		
	}
	
.item-1{
	/*width:7%;*/
	padding:0 1.5em;
	}	
	
.item-2{
	/*width:16%;*/
	padding:0 1.5em;
	padding: 0 1.9em 0 1.5em;
	}		
	
.item-3{
	/*width:27%;*/
	padding:0 2.5em;
	padding: 0 3.5em 0 3em;
	}			

.item-4{
	/*width:10%;*/
	padding:0 1.5em;
	padding: 0 1.9em 0 1.5em;
	}			

.item-5{
	/*width:26%;*/
	padding:0 2.5em;
	}			

.ve-menu>.ve-menu-pc>li:hover ul{display:block;}

.ve-menu>.ve-menu-pc>li>ul{position:absolute;left:0;display:none}

.ve-menu>.ve-menu-pc>li>ul>li>a{
	height:36px;
	background:#0694a7 !important;}
	
.ve-menu>.ve-menu-pc>li>ul>li>a:hover{
	background:#c7e6eb !important;}
	

.ve-menu-icon{float:right;width:25px;height:26px;margin-right:10px}

.ve-menu-icon>div{width:100%;height:3px;margin-top:3px;border-radius:3px}

.ve-menu-mask{position:fixed;top:0;left:0;width:100%;height:100%; background:rgba(0, 0, 0, .8) !important; z-index:0;}

.ve-menu-mobile{position:fixed;top:0;left:0;width:100%}

.ve-menu-mobile li{width:100%;}

.ve-menu-mobile li a{
	font-family: 'Roboto-Bold';
	padding:15px 0;
	color:#fff;
	background:none!important;}
	
.ve-menu-mobile li>ul>li>a{
	color:#fff;
	background:#0694a7 !important;}	

.ve-menu-mobile ul{display:none; border-bottom:0px solid  #c7e6eb !important;}

.ve-menu-close>div{float:right;padding:0 10px}

.ve-menu-close>div:after{font-size:35px;content:'\00d7'}

/* ==========================================================================
Navigation
========================================================================== */
.fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, 1); 
  z-index: 999;
  width: 100%; }
  
header {
  padding: 0px 0px 0px 0px;
  border-bottom: solid 1px rgba(131, 197, 208, 0.5);
  position: relative;
  width: 85%;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }


/* ==========================================================================
To top
========================================================================== */
.to-top {
	float: right;
	width:60px;
	height: 60px;
	background-color: #2e2d2c; 
  }
  
.to-top .to-top-wrap {
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
    text-align: center; }
	
.to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
	  background:url(../img/arrow.png) no-repeat;
	  background-position:center;
      color: #2e2d2c;
      background-color: rgba(0, 0, 0, 0.15); }
	  
.to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
		background:url(../img/arrow-roll.png) no-repeat;
		background-position:center;
		background-color: rgba(199, 230, 235, 1); }
	  
.to-top .to-top-wrap i {
      line-height: 0px; }
	  
.to-top .row {
    position: relative; }
	
@media screen and (max-width: 1983px) {	
/*.ve-menu{
	width:64%;}*/
}

@media screen and (max-width: 1920px) {	
/*.ve-menu{
	width:66%;}*/
}

@media screen and (max-width: 1824px) {	
/*.ve-menu{
	width:70%;}*/
}

@media screen and (max-width: 1680px) {	
/*.ve-menu{
	width:75%;}*/
}

@media screen and (max-width: 1600px) {	
/*.ve-menu{
	width:79%;}*/
}

@media screen and (max-width: 1440px) {	
/*.ve-menu{
	width:89%;}	*/
}

@media screen and (max-width: 1366px) {	
/*.ve-menu{
	width:100%;}*/
	
.item-1{
	/*width:8%;*/
/*	padding:0 0.8em;*/
	}	
	
.item-2{
	/*width:18%;*/
/*	padding:0 0.8em;*/
	}		
	
.item-3{
/*	width:24%;*/
/*	padding:0 1.5em;*/
	}			

.item-4{
/*	width:12%;*/
/*padding:0 0.8em;*/
	}			

.item-5{
/*	width:24%;*/
	/*padding:0 1.5em;*/
	}			
}

@media screen and (max-width: 1200px) {	

.ve-menu{
	/*font-size:12px !important;*/
	}
.item-1{
	/*width:7%;*/
	/*padding:0 0.8em;*/
		padding:0 1.3em 0 1em;
	}	
	
.item-2{
/*	width:18%;*/
/*padding:0 0.8em;*/
  padding: 0 1.6em 0 1.1em;
	}		
	
.item-3{
	/*width:25%;*/
/*	padding:0 1.5em;*/
padding:0 1.8em 0 1.1em;
	}			

.item-4{
	/*width:10%;*/
/*	padding:0 0.8em;*/
padding:0 1.8em 0 1em;
	}			

.item-5{
/*	width:24%;*/
/*padding:0 1.2em;*/
padding: 0 1.7em 0 1.1em;
	}				
}

@media screen and (max-width: 1080px) {	
.item-1{
/*	width:6%;*/
	padding:0 1.3em 0 1em;
	}	
	
.item-2{
/*	width:16%;*/
/**/	    
    padding: 0 1.5em 0 1em;
	}		
	
.item-3{
	/*width:27%;*/
/*	*/padding:0 1.8em 0 1.1em;
	}			

.item-4{
	/*width:8%;*/
/**/	
padding: 0 1.5em 0 1em;
	}			

.item-5{
	/*width:28% !important;*/
/**/	padding: 0 1.7em 0 1.1em;
   
	padding: 0 1.3em 0 0.9em;
	}
}


@media screen and (max-width: 917px) {	
.ve-menu{
	border-bottom:0px;
	 display: block;
	}

.item-1{
	/*width:100%;*/
	}	
	
.item-2{
/*	width:100%;*/
	}		
	
.item-3{
/*	width:100%;*/
	}			

.item-4{
/*	width:100%;*/
	}			

.item-5{
/*	width:100% !important;*/
	}	
}