.ve-menu-close,.ve-menu-icon,.ve-menu-mobile{overflow:hidden}

.ve-menu ul{
	width:65%;
	margin:0 auto;
	padding:0;
	list-style:none; 
	border-bottom:1px solid #c7e6eb; 
	height:42px;}

.ve-menu a{
	float:left;
	display:inline-block;
	width:100%;
	text-align:center !important;
	text-decoration:none;color:#fff;
	background:url("../img/bullet.png") 0 0  no-repeat !important; 
	background-position: right !important;
	background-size: 10px 10px !important;
	padding:0px 3px 0px 3px}

.ve-menu>.ve-menu-pc>li{
	position:relative;
	float:left;
	cursor:pointer;
	}

.ve-menu>.ve-menu-pc>li:hover ul{display:block;}

.ve-menu>.ve-menu-pc>li>ul{position:absolute;left:0;display:none}

.ve-menu>.ve-menu-pc>li>ul>li>a{
	height:36px;
	background:#0694a7 !important;}
	
.ve-menu>.ve-menu-pc>li>ul>li>a:hover{
	background:#c7e6eb !important;}
	

.ve-menu-icon{float:right;width:25px;height:26px;margin-right:10px}

.ve-menu-icon>div{width:100%;height:3px;margin-top:3px;border-radius:3px}

.ve-menu-mask{position:fixed;top:0;left:0;width:100%;height:100%; background:rgba(0, 0, 0, .8) !important; z-index:0;}

.ve-menu-mobile{position:fixed;top:0;left:0;width:100%}

.ve-menu-mobile li{width:100%;}

.ve-menu-mobile li a{
	font-family: 'Roboto-Bold';
	padding:15px 0;
	color:#fff;
	background:none!important;}
	
.ve-menu-mobile li>ul>li>a{
	color:#fff;
	background:#0694a7 !important;}	

.ve-menu-mobile ul{display:none; border-bottom:0px solid  #c7e6eb !important;}

.ve-menu-close>div{float:right;padding:0 10px}

.ve-menu-close>div:after{font-size:35px;content:'\00d7'}


@media screen and (max-width: 1824px) {	
.ve-menu ul{
	width:78% !important;}
}

@media screen and (max-width: 1366px) {	
.ve-menu ul{
	width:100% !important;
	margin:0 !important; 
	padding:0 !important;	
	}
/* ==========================================================================
Navigation
========================================================================== */
.fixed {
  position: fixed;
  background-color: rgba(255, 255, 255, 1); 
  z-index: 999;
  width: 100%; }
  
header {
  padding: 0px 0px 0px 0px;
  border-bottom: solid 1px rgba(131, 197, 208, 0.5);
  position: relative;
  width: 85%;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }


/* ==========================================================================
To top
========================================================================== */
.to-top {
	float: right;
	width:60px;
	height: 60px;
	background-color: #2e2d2c; 
  }
  
.to-top .to-top-wrap {
    height: 60px;
    width: 60px;
    position: absolute;
    right: 0;
    text-align: center; }
	
.to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
	  background:url(../img/arrow.png) no-repeat;
	  background-position:center;
      color: #2e2d2c;
      background-color: rgba(0, 0, 0, 0.15); }
	  
.to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
		background:url(../img/arrow-roll.png) no-repeat;
		background-position:center;
		background-color: rgba(199, 230, 235, 1); }
	  
.to-top .to-top-wrap i {
      line-height: 0px; }
	  
.to-top .row {
    position: relative; }
	

