


/* ==========================================================================
.testimonial-slider
========================================================================== */
.testimonial-slider {
  background: url("../img/testimonials-bg.jpg") no-repeat center center;
  background-size: cover; }

  .testimonial-slider .avatar {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #fff;
    background-color: #fff; }
	
    .testimonial-slider .avatar img {
      width: 82px;
      height: auto; }
	  
  .testimonial-slider h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    margin: 30px 0; }
	
  .testimonial-slider p {
    color: #ACB1B4;
    text-transform: uppercase;
    letter-spacing: 2px; }

