@charset "UTF-8";
/* CSS Document
	Museo Km/h
 */
@font-face {
	font-family: 'Roboto-Light';
	src: url('fonts/Roboto-Light.eot');
	src: local('☺'), url('fonts/Roboto-Light.woff') format('woff'), url('fonts/Roboto-Light.ttf') format('truetype'), 
	url('fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'Raleway-Black';
	src: url('fonts/Raleway-Black.eot');
	src: local('☺'), url('fonts/Raleway-Black.woff') format('woff'), url('fonts/Raleway-Black.ttf') format('truetype'), 
	url('fonts/Raleway-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('fonts/Roboto-Bold.eot');
	src: local('☺'), url('fonts/Roboto-Bold.woff') format('woff'), url('fonts/Roboto-Bold.ttf') format('truetype'), 
	url('fonts/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'Roboto-Black';
	src: url('fonts/Roboto-Black.eot');
	src: local('☺'), url('fonts/Roboto-Black.woff') format('woff'), url('fonts/Roboto-Black.ttf') format('truetype'), 
	url('fonts/Roboto-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;}	

/** CSS BUSCADOR **/
/*

   Styles for animated modal
   =========================

*/
/* Start state */
.animated-modal {
  max-width: 750px;
  border-radius: 4px;
  overflow: hidden;
  
  transform: translateY(-50px);
  transition: all .7s;
}
#animatedModal2 {
max-width: 750px;
}
#animatedModal{
  display: none;
}
#btnbox{
  display: none;
}

.titulobusqueda label {
    cursor: pointer !important;
    color: #000;
}
.nresult{
    margin-top: 15px;
    padding-bottom: 10px;
    color: silver;
    font-weight: bolder;
}
.noresult{
  padding-top: 50px;
  padding-bottom: 70px;
  color: silver;
  font-weight: bolder;
}
.lblidioma{
    float: right;
    color: silver;
}
#areabusca{
    margin-top: -13px;
}
#animatedModal2 label{
  font-weight: bolder;
  font-size: 18px;
}
#animatedModal2 p{
  margin-top: 5px;
}
/* Final state */
.fancybox-slide--current .animated-modal{
  transform: translateY(0);
  opacity: 1;
}




/** Generated by FG **/
@font-face {
	font-family: 'Raleway-Light';
	src: url('fonts/Raleway-Light.eot');
	src: local('☺'), url('fonts/Raleway-Light.woff') format('woff'), url('fonts/Raleway-Light.ttf') format('truetype'), url('fonts/Raleway-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;}

	
* { box-sizing: border-box; }

body {	
  margin: 0;
  padding: 0;
  color:#2e2d2c;
  font-family:'Roboto-Light',Sans-Serif;}
  
a { text-decoration: none;}
   
.menu-usuario{
	margin:0 auto;
	width:80%;
	height:40px;
	padding:0px;}
	
.idioma{
	float:left;
	width:50%;
	padding:0px;}	

.redes{
	float: right;
	width:35%;
	padding:5px;}	
	
a.facebook{
	float: right;
    display: block;
    width:30px;
    height:30px;
    text-decoration: none;
    background:url("img/facebook.svg") 0 0  no-repeat;
	background-size:30px 30px !important;
	line-height:30px;
	margin-left:10px;
	}

a:hover.facebook{
    background-position: -30px 0;
	text-decoration:none;
    background:url("img/facebook-roll.svg") 0 0 no-repeat;		
	} 	
	
a.twitter{
	float: right;
    display: block;
    width:30px;
    height:30px;
    text-decoration: none;
    background:url("img/twitter.svg") 0 0  no-repeat;
	background-size:30px 30px !important;
	line-height:30px;
	margin-left:10px;
	}

a:hover.twitter{
    background-position: -30px 0;
	text-decoration:none;
    background:url("img/twitter-roll.svg") 0 0 no-repeat;		
	} 		
	
a.youtube{
	float: right;
    display: block;
    width:30px;
    height:30px;
    text-decoration: none;
    background:url("img/youtube.svg") 0 0  no-repeat;
	background-size:30px 30px !important;
	line-height:30px;
	margin-left:10px;
	}

a:hover.youtube{
    background-position: -30px 0;
	text-decoration:none;
    background:url("img/youtube-roll.svg") 0 0 no-repeat;		
	} 			
	
a.instagram{
	float: right;
    display: block;
    width:30px;
    height:30px;
    text-decoration: none;
    background:url("img/instagram.svg") 0 0  no-repeat;
	background-size:30px 30px !important;
	line-height:30px;
	margin-left:10px;
	}

a:hover.instagram{
    background-position: -30px 0;
	text-decoration:none;
    background:url("img/instagram-roll.svg") 0 0 no-repeat;		
	} 	
	
.menu-principal{
	position:relative;
	clear:both;
	z-index:10;
	height:42px;}
	
.barra{
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #83c5d0;
	}						

.logo{
	margin:0 auto;
	width:80%;
	text-align:center;
	padding:0px;}
	
.logo-prin{
	float:left;
	width:58%;
	height:75px;
	text-align:right !important;
	}
	
.logo-km-h{
	width:16%;
	}		
	
.busqueda{
	z-index:0 !important;
	float:left;
	width:42%;
	padding:8px;
	height:35px; }	
	
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;}

.sb-search {
	position: relative;
	margin-top:0px;
	width: 0%;
	min-width: 35px;
	height: 35px;
	float: right;
	overflow: hidden;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	transition: width 0.3s;
	-webkit-backface-visibility: hidden;}

.sb-search-input {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	outline: none;
	background: #fff;
	width: 100%;
	height:35px;
	margin: 0;
	z-index: 10;
	padding: 10px 35px 10px 10px;
	font-family: inherit;
	font-size: 13px;
	color: #2e2d2c;}

.sb-search-input::-webkit-input-placeholder {
	color: #898988;}

.sb-search-input:-moz-placeholder {
	color: #898988;}

.sb-search-input::-moz-placeholder {
	color: #898988;}

.sb-search-input:-ms-input-placeholder {
	color: #898988;}

.sb-icon-search,
.sb-search-submit  {
	width: 35px;
	height: 35px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 35px;
	text-align: center;
	cursor: pointer;}

.sb-search-submit {
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
	color: transparent;
	border: none;
	outline: none;
	z-index: -1;}

.sb-icon-search {
	color: #2e2d2c;
	z-index: 90;
	font-size: 22px;
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;}

.sb-icon-search:before {
	content: "\e000";}

/* Open state */
.sb-search.sb-search-open,
.no-js .sb-search {
	width: 95%;
	border-bottom:2px solid #5394a6;}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
	color: #5394a6;
	z-index: 11;}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
	z-index: 90;}
	
	
.flow-a{
	clear:both;}	

.flow-b{
	clear:both;
	height:30px;}	
	
.flow-d{
	clear:both;
	}		
		
main#content {
	margin:0 auto;
	width:100%;
	padding-top:20px;
	background:#fff;}
	
.mod-principal {
	min-height: 160px;
	background:#fff;
	position: relative; } 	
	
#slide-principal{
	clear:both;
	margin:0px;
	padding:0px;
	}	

h1{
	color:#2e2d2c;
	font-size:25px;
	font-family: 'Raleway-Black';
	margin-bottom:10px;}	

h2{
	color:#fff;
	font-size:18px;
	font-family: 'Roboto-Bold';
	margin-bottom:10px;}	
	
h3{
	color:#fff;
	font-size:25px;
	font-family: 'Raleway-Black';
	margin:0px 0px 10px 0px;
	padding:50px 0px 50px 0px;
	text-align:center;}	

h4{
	color:#fff;
	font-size:22px;
	font-family: 'Roboto-Bold';
	padding:10px;
	margin:0px;
	text-align:center;}	
	
		
.contenido{
	margin:0 auto;
	width:80%;}	
	
.col-1{
	float:left;
	width:48.7%;
	height:80px;
	padding:10px;
	margin-right:10px;
	line-height:22px;}	
	
.col-2{
	float:left;
	width:43%;
	height:400px;
	padding:10px;
	line-height:22px; }		

.col-3{
	float:left;
	width:57%;
	height:400px;
	padding:10px;
	line-height:22px;}		

.tabla{
	width:99%;
	padding:0px; }	
	
.celda{
	border-bottom:1px solid #979aa4;
	line-height:40px;
	height:40px;
	}
	
.celda-b{
	border-bottom:0px;
	line-height:35px;
	height:35px;
	}
	
.celda-c{
	background:#eee;
	border-bottom:0px;
	line-height:35px;
	height:35px;
	}	
	
a.link-eventos-1{
	font-family: 'Raleway-Black';
	color:#979aa4;
	text-decoration:none;}

a.link-eventos-1:hover {
	color:#5191a4;
	text-decoration:none; }			
	
a.link-eventos-2{
	font-family: 'Raleway-Black';
	color:#2e2d2c;
	text-decoration:none;}

a.link-eventos-2:hover {
	color:#5191a4;
	text-decoration:none; }	

.automovil{
	margin:0 auto;
	width:100%;
	text-align:center;}	
	
.auto-km{
	width:70%;}
	
.planifica-home{
	float:left;
	width:48%;
	height:110px;
	margin-right:10px;
	text-align:center;}				
	
.log-planea{
	width:40%;}				

.compartir-home{
	float:left;
	width:48%;
	height:110px;}

.social{
	margin-bottom:20px;
	}			
	
#ubicacion{
	clear:both;
	background:#e9f8fb;
	height:510px;
	padding:20px 0px 20px 0px;}	
	
.mapa{
	margin:20px 0px 20px 0px; }	
	
.ico{
	width:8%;
	float:left;
	margin-right:10px;
	margin-bottom:20px; }
	
a.link-ubicacion{
	color:#1c1c1c;
	text-decoration:none;}

a.link-ubicacion:hover {
	color:#5394a6;
	text-decoration:none; }			
	
	
.experiencia-museo{
	clear:both;
	width:100%;
	height:400px;
	margin: 0 auto;
	background:url(img/tu-experiencia.jpg) center center;
	background-repeat:no-repeat;
	background-color:#2e2d2c;
	background-size:cover;
	background-position:center;
    background-position-y: initial; }	
	
.author{
	font-family: 'Roboto-Light';
	color:#fff;
	font-size:22px;
	text-align:right;
	padding:0px 20px 0px 20px;
	margin:0px;}		

.encabezado-sala{
	clear:both;
	width:100%;
	height:800px;
	margin-top: 20px;
	background:url(img/galeria-de-autos.jpg) center center;
	background-repeat:no-repeat;
	background-color:#0a5264;
	background-size:cover;
	background-position:center;
    background-position-y: initial; }	
	
.sala-titulo{
	padding:20px;
	color:#fff;
	line-height:22px; }	
	
.sala{
	font-size:40px;
	color:#90a7a6;
	margin:20px 0px 20px 0px;
	font-family: 'Raleway-Light';
	}	
	
.tit-sala{
	font-size:45px;
	color:#fff;
	line-height:45px;
	margin:30px 0px 20px 0px;
	font-family: 'Raleway-Black';
	}	
	
.frase{
	width:70%;
	margin:0 auto;
	padding:20px;
	color:#fff;
	line-height:30px;
	text-align:center;
	font-size:25px;}	
	
.personaje{
	font-family: 'Raleway-Black';
	text-align:right;
	padding:10px; }	
		
.descripcion-sala{
	margin:0 auto;
	padding:20px;
	color:#fff;
	line-height:27px;
	text-align: justify;
	font-size:18px;}	
	
.elemento{
	float:left;
	width:33%;
	text-align:center;
	padding:1px; }

.ico-video{
	width:12%; }			

.ico-planifica{
	width:26%; }	
	
.galeria-de-autos{
	padding-top:20px;
	height:400px;}	

.auto{
	float:left;
	width:33.3%;
	padding:5px;
	height:200px;}	
	
.vehiculo{
	width:20%;
	margin-bottom:15px;}	
	
.modelo{
	text-align:center;
	padding:5px;
	font-size:22px;
	text-transform:uppercase;
	color:#0694a7;}
	
.marca{
	font-family: 'Roboto-Bold';
	}	
		
.origen-edit{
	float:left;
	width:49%;
	margin-right:3px;
	font-family: 'Roboto-Bold';
	height:50px;}	

.bandera{
	float:left;
	margin-right:5px;
	margin-bottom:20px;
	width:26%;
	-webkit-box-shadow: inset 0 5px 0 rgba(255,255,255,.3), 0 5px 5px rgba(0,0,0,.3); 
	-moz-box-shadow: inset 0 5px 0 rgba(255,255,255,.3), 0 5px 5px rgba(0,0,0,.3);
	box-shadow: inset 0 10px 0 rgba(255,255,255,.3), 0 5px 5px rgba(0,0,0,.3); }	

.auto-detalle-1{
	float:left;
	width:50%; }	

.auto-detalle-2{
	float:left;
	width:50%; }		

.sala-detalle{
	font-size:35px;
	color:#2e2e2b;
	margin:20px 0px 20px 0px;
	font-family: 'Raleway-Light'; }
	
.acento{
	color:#0694a7;
	font-family: 'Raleway-Black'; }	
	
.tit-detalle{
	padding:5px;
	font-size:25px;
	line-height:28px;}

.txt-detalle{
	text-align:justify;
	padding:5px;
	font-size:18px;
	line-height:28px;}
	
.txt-origen{
	font-family: 'Roboto-Bold';
	padding:10px;
	font-size:18px;
	line-height:28px;}	

.bandera-detalle{
	float:left;
	margin-right:5px;
	margin-bottom:20px;
	width:4%;}
	
.planea-detalle	{
	width:40%;}


.movil-detalle{
	margin:0 auto;
	width:80%;
	padding-bottom:50px;
	text-align:center;}	
	
.mod-sala-1 {
    position:relative;
    float:left;
    width:50%;
	height:451px;
    padding:3em;
    margin:0px;
    background:#a6e7ec;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2),0 0 60px rgba(0, 0, 0, 0.3) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 60px rgba(0, 0, 0, 0.3) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.2), 0 0 60px rgba(0, 0, 0, 0.3) inset;}	

.mod-sala-2 {
    position:relative;
    float:left;
    width:50%;
	height:451px;
    padding:3em;
    margin:0px;
	background:#eaf8fb;}	

.mod-sala-3 {
    position:relative;
    float:left;
    width:50%;
	height:550px;
    padding:3em;
    margin:0px;
    background:#737371;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5),0 0 80px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 80px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.5), 0 0 80px rgba(0, 0, 0, 0.1) inset;		
	}	
	
.mod-sala-4{
    position:relative;
    float:left;
    width:50%;
	height:550px;
    padding:3em;
    margin:0px;
    background:#0097ac;
	}	
	
.item-sala-a{
	font-family: 'Roboto-Bold';
	color:#2e2d2c;
	font-size:24px;
	margin:0px 0px 20px 0px
	}		
	
.item-sala-b{
	font-family: 'Roboto-Bold';
	color:#fff;
	font-size:24px;
	margin:0px 0px 20px 0px
	}
	
#img-sala{
	margin:0 auto;
	width:80%;
	text-align:center;
	padding-bottom:20px;}				

.ilustra-sala-item-a{
	width:55%;
	}	

.ilustra-sala-item-b{
	width:28%;
	}	
	
.link-descrip-sala{
	line-height:25px;
	text-align: justify;}

a.link-sala-a{
	color:#2e2d2c;
	text-decoration:none;}

a.link-sala-a:hover {
	color:#0097ac;
	text-decoration: underline; }			

a.link-sala-b{
	color:#fff;
	text-decoration:none;}

a.link-sala-b:hover {
	color:#2e2d2c;
	text-decoration: underline; }			
		
.encabezado-info-visitante{
	clear:both;
	width:100%;
	height:200px;
	padding:150px 20px 220px 20px;
	margin-top: 20px;
	background:url(img/tarifas.jpg) center center;
	background-repeat:no-repeat;
	background-color:#2e2d2c;
	background-size:cover;
	background-position:center;
    background-position-y: initial; }	
	
.tit-info-visit{
	color:#fff;
	font-size:28px;
	margin:10px 0px 10px 0px; }	
	
.txt-info-visit{
	color:#fff;
	padding:0px;
	line-height:28px;
	font-size:22px;}	
	
.sub-tit-visit{
	font-size:18px;
	padding:10px;
	line-height:22px;
	margin:25px 0px 25px 0px;}	
	
.ico-info-visit{
	float:left;
	width:5%;
	margin:0px 20px 30px 0px;}

.tarifas{
	margin:0 auto;
	width:80%;
	padding:0px 0px 20px 0px;}		
	
.boleto{
	float:left;
	width:47.5%;
	height:75px;
	margin:10px;
	padding:18px 20px 13px 20px;
	border:1px solid #dadada; }	
	
.ico-boleto{
	width:8%;
	float: left;
	margin-right:10px;}
	
.tiket{
	font-family: 'Roboto-Bold';}	
	
.direccion-llegar{
	clear:both;
	height:auto;
	margin-bottom:15px;
	padding:0px 20px 10px 20px;
	font-family: 'Roboto-Bold';}	
	
.mapa-llegar{
	clear:both;
	width:100%;
	height:330px;
	margin-bottom:20px;	}	
	
.tit-transporte{
	clear:both;
	border-bottom:1px solid #969695;
	font-family: 'Roboto-Bold';
	font-size:18px;
	padding:20px;
	line-height:22px;
	margin:15px 0px 15px 0px;}	
	
.ico-transporte{
	float:left;
	width:2.3%;
	margin:0px 20px 20px 0px;}	
	
.txt-transporte{
	padding:15px;
	line-height:24px;}	

.mapa-km{
	width:100%;
	margin-bottom:20px;
	text-align:center;}
	
.mapa-museo{
	width:100%;}	
	
.tit-descarga{
	clear:both;
	border-top:1px solid #a4a4a3;
	border-bottom:1px solid #a4a4a3;
	font-size:18px;
	padding:20px 20px 35px 20px;
	line-height:22px;
	margin:15px 0px 15px 0px;}	
	
a.link-descarga{
	color:#2e2d2c;
	text-decoration:none;}

a.link-descarga:hover {
	color:#5394a6;
	text-decoration:none; }			
	
.sala-item-a{
	background:#fff;
	line-height:28px;
	padding:25px 0px 25px 0px;
	margin-bottom:15px; }	
	
.sala-item-b{
	background:#c7e6eb;
	line-height:28px;
	padding:25px 0px 25px 0px;
	margin-bottom:15px; }	

.vineta{
	vertical-align:middle;
	width:1.8%;
	margin-left:15px;}
	
.ico-planifica-visit{
	float:left;
	width:7%;
	margin:0px 20px 20px 0px;}
		
.item-planifica{
	clear:both;
	padding:20px 10px 20px 10p;
	line-height:25px;
	text-align:justify;}	

.tip{
	float:left;
	width:75%;
	padding:10px;
	margin-bottom:35px;
	}
	
.linea-tiempo{
	float:left;
	text-align:center;
	width:25%;
	height:25px; }			
	
.ico-planear{
	float:left;
	margin-right:10px;
	margin-bottom:10px;
	width:2%;}	
	
.ico-line-time{
	margin-bottom:25px;
	width:18%;}	
	
.perfil-grupo{
	float:left;
	width:48%;
	margin-right:15px;
	text-align:center;
	margin-bottom:20px; }
	
.tit-descarga-perfil{
	clear:both;
	border-top:1px solid #a4a4a3;
	border-bottom:1px solid #a4a4a3;
	font-size:18px;
	padding:20px 20px 35px 20px;
	line-height:22px;
	text-align:left;
	margin:15px 0px 15px 0px;}	
	
.img-grupo{
	width:80%;
	margin-bottom:15px;}

.txt-perfil{
	height:105px;
	padding:10px;
	text-align:left !important;
	margin-bottom:10px;
	line-height:24px; }		

.ico-perfil{
	float:left;
	width:4%;
	margin:0px 20px 20px 0px;}	

.eventos{
	width:32%;
	text-align:center;
	float:left;
	line-height:28px;
	margin:10px 10px 20px 0px;
	padding-bottom:2px;	}
	
.txt-evento{
	padding:5px;
	text-align:left;}	

.tit-eventos{
	font-family: 'Raleway-Black';
	font-size:27px;
	padding:10px;
	border-bottom:1px solid #cccccc;
	line-height:27px;
	margin:20px 0px 20px 0px;}	
	
.espectaculo{
	font-family: 'Raleway-Black';}	
	
.ico-escena{
	width:5%;
	float:left;
	margin:0px 10px 20px 0px;}	
	
.img-evento{
	width:70%;}	

.proximos-eventos{
	clear:both;
	height:auto;
	line-height:25px;
	border-top:1px solid #cccccc;
	padding:20px 0px 20px 0px;
	margin-bottom:20px;}
		
.calendario{
	float:left;
	width:48%;
	padding:20px;
	background:#c7e6eb;
	margin-bottom:20px;
	margin-right:15px;}		
	
.tit-proximos{
	font-family: 'Raleway-Black';
	height:40px;
	color:#5394a6;
	font-size:24px;
	border-bottom:1px solid #83c5d0;
	margin-bottom:25px;
	}	
		
.tablero-eventos{
	margin:0 auto;
	width:80%;
	padding-bottom:20px;
	}
	
.img-ilustra-seccion{
	width:100%;
	margin:20px 0px 20px 0px;}
	
.imagen-km{
	width:100%;}	
	
.frase-destacada{
	width:100%;
	font-family: 'Roboto-Black';
	color:#5394a6;
	text-align:center;
	font-size:22px;
	line-height:28px;
	padding:10px;
	margin:20px 0px 20px 0px;}		
	
.txt-mod-1{
	width:100%;
	text-align: justify;
	line-height:25px;
	padding:10px;
	margin:20px 0px 20px 0px;}		
	
.estilo-museo-1{
	background:#c7e6eb;
	padding:25px 0px 25px 0px;
	}	

.detalle-eventos{
	background:#f0f8fa;
	padding:30px 0px 30px 0px;
	margin:30px 0px 30px 0px;}
	
.mod-evento{
	margin:0 auto;
	width:45%;
	padding:10px;}	
	
.detalle-espectaculo{
	text-align:center;
	font-size:25px;
	line-height:25px;
	padding-bottom:10px;
	font-family: 'Raleway-Black';
	border-bottom:1px solid #5394a6;
	margin-bottom:20px;}	
	
.img-detalle{
	margin:0 auto;
	text-align:center;
	width:35%;}	
	
.foto-detalle{
	width:100%; }	
	
.txt-detalle{
	padding:20px 20px 20px 20px;
	line-height:28px;}
	
.detalle{
	color:#5394a6;
	font-family: 'Roboto-Bold';}	
	
.ico-idioma{
	vertical-align:middle;
	width:25%;
	margin-right:10px;
	}

.wrapper-dropdown-3 {
    /* Size and position */
    position: relative;
    width: 130px;
    padding: 10px;

    /* Styles */
    background: #fff;
    cursor: pointer;
    outline: none;

    /* Font settings */
    color: #2e2d2c
	}

.wrapper-dropdown-3 ul {
	margin:0px;
	padding:0px;
	}	

.wrapper-dropdown-3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #2e2d2c transparent;
}

.wrapper-dropdown-3 .dropdown {
  /* Size & position */
    position: absolute;
    top: 85%;
    left: 0;
    right: 0;

    /* Styles */
    background: white;
    border-radius: inherit;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropdown-3 .dropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropdown-3 .dropdown:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropdown-3 .dropdown li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #2e2d2c;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropdown-3 .dropdown li i {
    float: right;
    color: inherit;
	}

.wrapper-dropdown-3 .dropdown li:first-of-type a {
	border:0px;
	}

.wrapper-dropdown-3 .dropdown li:last-of-type a {
    border: none;
	}

/* Hover state */

.wrapper-dropdown-3 .dropdown li:hover a {
    background: #c7e6eb;
}

/* Active state */

.wrapper-dropdown-3.active .dropdown {
    opacity: 1;
    pointer-events: auto;}

/* No CSS3 support */

.no-opacity       .wrapper-dropdown-3 .dropdown,
.no-pointerevents .wrapper-dropdown-3 .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */}

.no-opacity       .wrapper-dropdown-3.active .dropdown,
.no-pointerevents .wrapper-dropdown-3.active .dropdown {
    display: block;}

footer{
	clear:both;
	width:100%;
	height:430px;
	background:url(img/fondo-auto.jpg) center center;
	background-repeat:no-repeat;
	background-color:#2e2d2c;
	background-size:cover;
	background-position:center;
    background-position-y: initial; }	
	
.col-4{
	float:left;
	width:32.3%;
	margin-right:10px;
	padding:5px;}	
	
.submenu {
	width:100%;
	padding:0px;
	margin-bottom:10px;
	}

.submenu ul {
	margin: 0px !important;
	padding:0px !important;
	}

.submenu li {
	list-style: none;
	clear: both;}
	
.submenu a {
	color: #fff;
	text-decoration: none;
	line-height:28px;
	outline: none;}

.submenu a:hover {
	text-decoration:none;
	color:#5392a5; }
	
.dato{
	color:#fff;
	line-height:22px;
	margin-bottom:32px; }	
	
.ico-dato{
	width:7%;
	float:left;
	margin-right:10px;
	margin-bottom:5px; }
	
.km-h{
	margin:0 auto;
	width:12%;
	text-align:center;
	padding:30px 0px 30px 0px; }
	
a.link-footer{
	color:#fff;
	text-decoration:none;}

a.link-footer:hover {
	color:#5191a4;
	text-decoration:none; }			

.derechos{
	clear:both;
	height:60px;
	line-height:60px;
	text-align:center;
	background:#0694a7;
	padding:0px;
	margin:0px;
	color:#fff; }	
	
.logo-museo{
	width:4.5%;
	margin-right:10px; }	
		
@media screen and (max-width: 1366px) {	
.logo-prin{
	width:58%;
	}
	
.logo-km-h{
	width:25%;}		
	
.km-h{
	width:15%;}	
	
.busqueda{
	width:42%;}	

.auto-km{
	width:100%;}
	
.log-planea{
	width:85%;}		
	
.ico-video{
	width:26%; }			

.ico-planifica{
	width:48%; }		
	
.galeria-de-autos{
	height:350px;}		
	
.planea-detalle	{
	width:60%;}		
	
.bandera-detalle{
	width:8%;}	
	
.ilustra-sala-item-a{
	width:100%;}	

.ilustra-sala-item-b{
	width:55%;}
	
.ico-info-visit{
	width:8%;}	
	
.ico-boleto{
	width:14.5%;}	
	
.ico-transporte{
	width:3.8%;}		
	
.vineta{
	width:3.2%; }	
	
.ico-planifica-visit{
	width:13%; }	
	
.ico-planear{
	width:4%;}	
	
.ico-line-time{
	width:40%;}	
	
.ico-perfil{
	width:6%;
	margin:0px 20px 20px 0px;}	
	
.img-grupo{
	width:100%;}	
	
.img-evento{
	width:100%;}		
	
.ico-escena{
	width:10%;}		
	
.ico-dato{
	width:12%;}	
	
.mod-evento{
	width:65%; }	
	
.img-detalle{
	width:50%;}			
	
}
	
@media screen and (max-width: 1080px) {	
.col-4{
	width:32.1%;}	

.tarifas{
	width:95%; }		
	
.mod-evento{
	width:75%; }		
				
}

	
@media screen and (max-width: 1024px) {	
.menu-usuario{
	width:95%;}	
	
.logo{
	width:95%;}	
	
.contenido{
	width:95%;}	
	
#ubicacion{
	height:530px;}	
	
.ico-transporte{
	width:4.4%;}				
}
	
@media screen and (max-width: 900px) {
.col-1{
	width:48.3%; }
	
.col-2{
	width:38%;}	
	
.col-3{
	width:62%;}			
	
.col-4{
	width:32%;}				
	
.ico{
	width:13%;}	
	
.ico-dato{
	width:15%;
	margin-bottom:35px; }	
	
.logo-prin{
	height:55px;	}
	
.logo-km-h{
	width:22%;}		
	
.busqueda{
	height:55px;}		
	
.logo-museo{
	width:7%;}	

.redes{
	width:40%;}	
	
.log-planea{
	width:100%;}		
	
.encabezado-sala{
	height:870px; }	
	
.origen-edit{
	clear:both;
	margin-right:0px;
	width:100%;}		
	
.bandera{
	margin-bottom:20px;
	width:18%;}																
}

@media screen and (max-width: 823px) {
.boleto{
	width:47%;  }	
	
.mod-evento{
	width:85%; }							

.mod-principal {
	min-height: 80px !important;} 	
	
.menu-principal{
	height:32px;}
}



@media screen and (max-width: 768px) {
.col-1{
	width:47%; }	
	
.col-2{
	width:36%;}	
	
.col-3{
	width:64%;}			
	
.col-4{
	width:31%;}	
	
.logo-km-h{
	width:27%;}			
	
.planifica-home{
	width:50%;
	height:70px;
	margin-top:10px;
	margin-right:0px;}				

.compartir-home{
	width:50%;
	height:70px;
	margin-top:10px;
	text-align:center;}
	
.log-planea{
	width:90%;}							
		
.ico{
	width:17%;
	margin-bottom:50px}	
	
.ico-dato{
	width:17%;}		

.logo-museo{
	width:8%;}
	
.km-h{
	width:13%; 
	padding:20px 0px 10px 0px;}		
	
.encabezado-info-visitante{
	padding:90px 20px 160px 20px;}	
	
.ico-info-visit{
	width:10%;	}

.ico-transporte{
	width:6%;}		
	
.perfil-grupo{
	width:47.6%;
	margin-right:10px;}		
	
.eventos{
	width:31.5%;}
	
.tablero-eventos{
	width:95%; }		
}

@media screen and (max-width: 736px) {
.col-2{
	width:35%;}	
	
.col-3{
	width:65%;}	

.encabezado-sala{
	height:920px;}	
	
.boleto{
	width:46.4%;  }	

.perfil-grupo{
	width:47%; }	
	
.mod-evento{
	width:90%; }											
}

@media screen and (max-width: 700px) {
.col-2{
	width:32%;}	
	
.col-3{
	width:68%; }	
}


@media screen and (max-width: 667px) {
.col-2{
	clear:both;
	width:100%;
	height:300px;}	
	
.col-3{
	clear:both;
	width:100%;}	
	
.flow-d{
	height:100px;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2; }
		
.auto-km{
	width:60%;}
	
.log-planea{
	width:48%;}	

.mod-sala-1{
	padding:1.5em;
	height:421px;}		
	
.mod-sala-2{
	padding:1.5em;
	height:421px;}			

.mod-sala-3{
	padding:1.5em;
	height:448px;
	}		
		
.mod-sala-4{
	padding:1.5em;
	height:448px;}	
	
.tarifas{
	width:100%; }	
		
.ico-info-visit{
	width:12%;}		
	
.tip{
	width:80%;}
	
.linea-tiempo{
	width:20%; }			

.ico-planear{
	width:6%;}	
	
.ico-line-time{
	width:58%;}	
	
.txt-perfil{
	height:135px; }	
	
.ico-perfil{
	width:13%;}	
	
.mod-evento{
	width:99%; }				
}		

@media screen and (max-width: 640px) {
.ico-video{
	width:25%; }			

.ico-planifica{
	width:50%; }	
	
.auto-detalle-1{
	clear:both;
	height:265px;
	width:100%; }		

.auto-detalle-2{
	clear:both;
	height:230px;
	width:100%; }		
	
.movil-detalle{
	width:90%;
	padding-bottom:5px; }
	
.boleto{
	padding:18px 10px 13px 10px; }		
	
.ico-planifica-visit{
	width:15%; }	
							
}

@media screen and (max-width: 616px) {	
.vineta{
	width:4.5%;
	margin-right:10px;
	}	
}

@media screen and (max-width: 592px) {	
.redes{
	width:50%;}			
	
#ubicacion{
	height:530px;}	
		
.col-1{
	padding:0px; }	
	
.ico{
	width:20%;
	margin-right:5px;
	margin-bottom:80px}	
	
footer{
	height:476px;}			
	
.ico-dato{
	width:23%;
	margin-bottom:75px; }	
	
.dato{
	margin-bottom:20px; }					
	
.logo-museo{
	width:11%;}

.km-h{
	width:16%;}	
	 
.encabezado-sala{
	height:1070px;}		
	
.ico-video{
	width:32%; }			

.ico-planifica{
	width:68%; }	
	
.auto-detalle-1{
	height:290px; }		

.auto-detalle-2{
	clear:both;
	height:270px; }		

.movil-detalle{
	width:100%;
	padding-bottom:10px;}	
	
.mod-sala-1 {
	clear:both;
    width:100%;
	height:380px;}	

.mod-sala-2 {
	clear:both;
    width:100%;
	height:380px;}	
	
.mod-sala-3 {
	clear:both;
    width:100%;
	height:410px;}	

.mod-sala-4 {
	clear:both;
    width:100%;
	height:410px;}	
	
.ilustra-sala-item-a{
	width:80%;
	}	

.ilustra-sala-item-b{
	width:35%;
	}	
	
.encabezado-info-visitante{
	padding:70px 20px 150px 20px;}	
	
.ico-info-visit{
	width:14%;}		
	
.boleto{
	width:46%;
	padding:18px 0px 13px 0px; }		
	
.ico-boleto{
	margin-right:0px;}
	
.ico-transporte{
	width:8%;}	
	
.ico-planifica-visit{
	width:19%; }	
	
.eventos{
	width:31.3%;}			
				
																				
}

@media screen and (max-width: 523px) {
.km-h{
	width:19%;}	
		
.encabezado-sala{
	height:1115px;}		
	
.ico-video{
	width:35%; }			

.ico-planifica{
	width:72%; }	
	
.auto-detalle-1{
	height:250px; }		

.auto-detalle-2{
	clear:both;
	height:260px; }	
	
.encabezado-info-visitante{
	padding:50px 20px 190px 20px;}
	
.ico-info-visit{
	width:19%;}	
	
.tarifas{
	width:80%;
	}	
	
.boleto{
	width:100%;
	padding:18px 20px 13px 20px; }									
	
.ico-boleto{
	margin-right:10px;}
	
.ico-transporte{
	width:9.5%;}	
	
.vineta{
	margin-left:5px;
	margin-right:0px;}	
	
.ico-planifica-visit{
	width:21%; }		
	
.txt-perfil{
	height:155px; }	
	
.eventos{
	width:31.2%;}										
}


@media screen and (max-width: 480px) {
.km-h{
	width:26%;}	
	
.col-4{
	clear:both;
	width:100%;
	margin-bottom:10px;}	
	
.logo-km-h{
	width:34%;}			
	
.log-planea{
	width:62%;}	
	
.experiencia-museo{
	height:450px;}	

footer{
	height:780px;}	
	
.ico-dato{
	width:9%;
	margin-bottom:15px; }

.encabezado-sala{
	height:1140px;}	
	
.vineta{
	width:6%;
	margin-right:15px;
	}		
	
.ico-planifica-visit{
	width:26%; }		
	
.ico-planear{
	width:8%;}	
	
.ico-line-time{
	width:72%;}	
	
.perfil-grupo{
	clear:both;
	width:100%;
	margin-right:0px;}														
	
.txt-perfil{
	height:105px; }	
	
.eventos{
	clear:both;
	width:99%;}	

.img-evento{
	width:70%;
	}				

.ico-escena{
	width:7%;}	
										
}

@media screen and (max-width: 414px) {
.idioma{
	width:34%;}	
	
.redes{
	width:60%;}		
	
.busqueda{
	clear:both;
	width:100%; }		

.logo-prin{
	clear:both;
	height:43px;	}
	
.logo-km-h{
	width:48%;}			
	
.col-1{
	clear:both;
	width:100%;
	margin-bottom:10px;}	
	
.col-2{
	height:260px;}		
	
.col-3{
	height:610px;}			

.auto-km{
	width:75%;}
	
.log-planea{
	width:73%;}	
		
#ubicacion{
	height:640px;}	
			
.ico{
	width:14%;}	
	
.experiencia-museo{
	height:550px;}		
	
.encabezado-sala{
	height:1460px;}	

.frase{
	width:97%;
	padding:10px;}			

.elemento{
	clear:both;
	width:100%;
	margin-bottom:15px; }
		
.ico-video{
	width:20%; }			

.ico-planifica{
	width:38%; }		
	
table { width:100%;} 

thead { display: none; }

tr:nth-of-type(2n) { background-color: inherit;	}
		   
tr td:first-child { background:#f0f8fa; }

tbody td { 
	display: block; 
	height:auto!important;
	line-height:20px !important;
	padding:5px 0px 5px 0px; }
	
tbody td:before {
	content: attr(data-th); 
	display: block;}
	
.auto{
	clear:both;
	width:100%;
	height:285px; }	
	
.bandera{
	width:15%;}
	
.origen-edit{
	height:70px;}	
	
.auto-detalle-1{
	height:200px; }		

.auto-detalle-2{
	clear:both;
	height:300px; }	

.mod-sala-1 {
	height:405px !important;}	

.mod-sala-2 {
	height:405px !important;}	

.mod-sala-3 {
	height:505px !important;}	
	
.mod-sala-4 {
	height:495px !important;}	

.ilustra-sala-item-a{
	width:100%;}	

.ilustra-sala-item-b{
	width:60%;}		
	
.ico-info-visit{
	width:26%;}	
	
.ico-transporte{
	width:12.5%;}
	
.vineta{
	width:7.5%;
	margin-right:15px;
	}	
	
.ico-planifica-visit{
	width:30%; }		
	
.ico-line-time{
	width:85%;}																				
}

@media screen and (max-width: 375px) {
.encabezado-sala{
	height:1540px !important;}	
	
.encabezado-info-visitante{
	padding:30px 20px 200px 20px;}	
	
.tarifa{
	width:100%;}	
	
.boleto{
	padding:18px 0px 13px 0px; }									
	
.ico-boleto{
	margin-right:5px;}
	
}

@media screen and (max-width: 360px) {
.encabezado-sala{
	height:1670px !important;}	
		
.mod-sala-1 {
	height:490px;}	
	
.mod-sala-2 {
	height:490px;}	

.mod-sala-3 {
	height:530px;}	
	
.mod-sala-4 {
	height:510px;}	
	
.txt-perfil{
	height:135px; }			
}
