@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@font-face {
	font-family: 'Roboto-Light';
	src: url('../../fonts/Roboto-Light.eot');
	src: local('☺'), url('../../fonts/Roboto-Light.woff') format('woff'), url('../../fonts/Roboto-Light.ttf') format('truetype'), 
	url('../../fonts/Roboto-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
	}

@font-face {
	font-family: 'Raleway-Black';
	src: url('../../fonts/Raleway-Black.eot');
	src: local('☺'), url('../../fonts/Raleway-Black.woff') format('woff'), url('../../fonts/Raleway-Black.ttf') format('truetype'), 
	url('../../fonts/Raleway-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../../fonts/Roboto-Bold.eot');
	src: local('☺'), url('../../fonts/Roboto-Bold.woff') format('woff'), url('../../fonts/Roboto-Bold.ttf') format('truetype'), 
	url('../../fonts/Roboto-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;}

@font-face {
	font-family: 'Roboto-Black';
	src: url('../../fonts/Roboto-Black.eot');
	src: local('☺'), url('../../fonts/Roboto-Black.woff') format('woff'), url('../../fonts/Roboto-Black.ttf') format('truetype'), 
	url('../../fonts/Roboto-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;}	
.contenedor-login{
	font-family:'Roboto-Bold','Arial Black';
	color:#2e2d2c;
	
}
h1{
	
}
.perfilhover {
    display: block;
    position: relative;
    width: 100%;
    float: right;
}
.alto-fijo-modal{
	overflow: auto;
	max-height: 295px;
}

.alto-fijo-modal2{
	overflow: auto;
	max-height: 670px;
}

.ui-autocomplete {
	font-size:14px;
	position: absolute;
	cursor: default;
	z-index:99999 !important;
}
th.rotate {
  /* Something you can count on */
  height: 60px;
  white-space: nowrap;
  text-align:center;
  vertical-align:bottom;
}
.barras{
	width:800px !important;
	height:400px !important;
	overflow:scroll;
}
th.rotate > div {

  transform:
  -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
  -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
  filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)";
  /* 45 is really 360 - 45 */
  /* rotate(45deg); */
  width: 10px;
}
th.rotate > div > span {
 /* padding: 5px 0px; */
}


#btnimprimir:hover{
	cursor:pointer;
}
.btn-seleccionar-archivo:hover{
	color:#1994a6;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
a{
	text-decoration:none;
	color:#000;
}
a.azul {
	color: #1994a6 !important;
	font-weight:bold;
	}
tr{
	height:33px !important;
}
.rojo{
	color:red;
}
.verde{
	color:green;
}
.fa-check-circle{
	float:none;
}
.nomayuscula{
	text-transform:none !important;
}
.mails{
	text-transform:lowercase !important;
}
#tiporeporte{
	width:100%;
}
.select2-dropdown {
   z-index: 10000000 !important;
}
.pwd{
	background-color: #f2f5f7;
    border-radius: 6px;
    box-shadow: 0 0 1em #666;
    overflow: hidden;
    position: fixed;
	z-index:99999;
}
.alertalogout{
	background-color: #f2f5f7;
    border-radius: 6px;
    box-shadow: 0 0 1em #666;
    overflow: hidden;
    position: fixed;
	z-index:99999;
}
.alertafinalizar{
	background-color: #f2f5f7;
    border-radius: 6px;
    box-shadow: 0 0 1em #666;
    overflow: hidden;
    position: fixed;
	z-index:99999;
}
.enviacomentarios{
	background-color: #f2f5f7;
    border-radius: 6px;
    box-shadow: 0 0 1em #666;
    overflow: hidden;
    position: fixed;
	z-index:99999;
}
.avisos{
	background-color: #f2f5f7;
    border-radius: 6px;
    box-shadow: 0 0 1em #666;
    overflow: hidden;
    position: fixed;
	z-index:999999;
}

.fa-check-circle{
	color:#1994a6;
}
.ico-centrado{
	float:none !important;
}
body, html {
	/*font-family: Oxygen, Roboto, Calibri, Arial !important;*/
	font-family:'Roboto-Light',Sans-Serif;
	height: 100%;
	margin: 0;
	overflow:hidden;
	font-weight: 100;
}
.contenedor-principal{
	width:100%;
	float:left;
	height:100%;
}
.capa-sombra {
    display: none;
    position: fixed;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: rgba(0,0,0,.3);
    margin-left: auto;
    margin-right: auto;
}
.titulo-modal{
	font-size:20px !important;
}
.modalgeneralcapa1 {
    z-index: 99000;
}
.modalgeneralcapa2 {
    z-index: 999000;
}

.modalcapa {
    display: none;
    background-color: #f2f5f7;
    border-radius: 6px;
    box-shadow: 0 0 1em #666;
    overflow: hidden;
    position: fixed;
}
.modalcapa1 {
    z-index: 99998;
}
.modalcapab {
    display: none;
    background-color: #f2f5f7;
    border-radius: 6px;
    box-shadow: 0 0 1em #666;
    overflow: hidden;
    position: fixed;
}
.modalcapa1b {
    /* z-index: 999999; */
}

.modalcapafoto {
	display: none;
    background-color: #f2f5f7;
    border-radius: 6px;
    box-shadow: 0 0 1em #666;
    overflow: hidden;
    position: fixed;
}
.modalcapa1foto {
    z-index: 999999;
}


/**** TABLAS DE DATOS ****/
.div-integrantes{
	overflow:auto;
	max-height:295px;
}
.tabla-datos{
	width:100%;
	font-size:14px;
	border:1px solid gray;
	 font-family: 'Roboto',Sans-Serif;
}
.tabla-datos a{
	text-decoration:none;
	color:#333;
}
.tabla-datos a:hover{
	color:#1994a6;
}
.tabla-datos th{
	text-align:center;
	background-color:#1994a6;
	color:#fff;
	padding:10px;
	font-weight:bold;
}
.tabla-datos td{
	padding: 5px;
}
.tabla-datos tbody tr:nth-child(odd) {
   background-color: #eee;
}
.tabla-datos tbody tr:hover{
	background-color: #ccc;
}
.tabla-detalle{
	text-align:center;
	width:95%;
	font-size:14px;
	text-align:center;
	border:0px solid gray;
	background-color:#eee
}
.tabla-detalle a:hover{

}
.tabla-detalle th{
	text-align:center;
	background-color:#1994a6;
	color:#fff;
	padding:10px;
	font-weight:bold;
}
.tabla-detalle td{
	padding: 5px;
}
.tabla-detalle tbody tr:nth-child(odd) {
   background-color: #eee;
}
.tabla-detalle tbody tr:hover{
	cursor:pointer;
	background-color: #ccc;
}

.icono-tabla{
	float:left;
	padding:0 6px 0 6px;
}
.tablascroll{
	overflow:auto;
	max-height:300px;
}

/**** CONTENEDOR GENERAL ***/
.container {
	background-color:#fafafa;
	position: relative;
	height: 100%;
	width: 100%;
	left: 0;
	/*top: 81px;*/
	top: 75px;
	-webkit-transition:  left 0.4s ease-in-out;
	-moz-transition:  left 0.4s ease-in-out;
	-ms-transition:  left 0.4s ease-in-out;
	-o-transition:  left 0.4s ease-in-out;
	transition:  left 0.4s ease-in-out;
}
.container.open-sidebar {
	left: 220px;
}
.container i.menus {
	float:right;
	margin-right:-10px;
}
.container.open-sidebar i.menus{
	float:left;
	margin-right:0px;
}
.anchocontenido{
	width:calc(100% - 220px) !important;
	transition:  width .5s ease-in-out;
}
/*** BARRA LATERAL ***/
.swipe-area {
	position: absolute;
	width: 55px;
	left: 0;
	top: 0;
	height: 100%;
	background: #1994a6;
	z-index: 0;
}
#sidebar {
	background: #1994a6;
	position: absolute;
	width: 270px;
	height: 100%;
	left: -220px;
	z-index: 2;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#sidebar ul li {
	margin: 0;
}
#sidebar ul li a {
	
	font-family:'Roboto-Light',Sans-Serif;
	padding: 12px 15px;
    font-size: 15px;
	font-weight: 100;
	color: white;
	text-decoration: none;
	display: block;
	border-bottom: 1px solid #ccc;
	-webkit-transition:  background 0.3s ease-in-out;
	-moz-transition:  background 0.3s ease-in-out;
	-ms-transition:  background 0.3s ease-in-out;
	-o-transition:  background 0.3s ease-in-out;
	transition:  background 0.3s ease-in-out;
}
#sidebar ul li:hover a {
	background: #0c576d;
	background:#2e2d2c;
}


/*** CONTENIDO CENTRAL ***/
.contenido-central {
	font-size:16px;
	display:block;
	width: 100%;
	height: 100%;
	padding: 0px;
	padding-left:60px;
	background-color:#fafafa;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: relative;
	height: calc(100% - 75px);
	overflow: auto;
}
.contenido-central .contenido{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 20px;
	width: 100%;
}
.contenido-central .contenido h1{
	font-weight: 600;
	font-size:25px;
	line-height: 25px;
	margin-top:15px;
	margin-bottom:15px;
	font-family:'Raleway-Black','Arial Black';
	color:#2e2d2c;

}
.contenido-central .contenido h3{
	font-weight: 100;
	font-size:20px;
	line-height: 20px;
	margin-top:20px;
	margin-bottom:10px;
}
.contenido-central .contenido p{
	width: 100%;
	line-height: 160%;
}

/*** BOTONES ***/
.btn{
	font-size:45px;
	padding:10px;
	color:#1994a6;
}
.btn:hover{
    color:#0C5C74;
}
.btn-seleccionatodos{
	color:white !important;
}
#areabotones{
	padding-top:10px;
	padding-bottom:10px;
}
.texto-imprimir-seleccionados{
	font-size:14px !important;
}
.texto-imprimir-seleccionados:hover{
	color:#0C5C74;
}

.btn-formulario{
	font-family:'Roboto-Light',Sans-Serif;
	border:0px;
	padding:10px 0px;
	width:100% !important;
	background-color:#1994a6;
	color:#fff;
	border-radius: 6px;
	-moz-border-radius: 5px;
	cursor:pointer;
}
.btn-formulario:focus{
	outline: none;
}
.btn-formulario:hover{
	border:0;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}
.btn-cancelar{
	font-family:'Roboto-Light',Sans-Serif;
	border:0px;
	padding:8px 0px;
	width:auto;
	background-color:#666;
	color:#fff;
	width:100%;
	border-radius: 6px;
	-moz-border-radius: 5px;
	cursor:pointer;
}
.btn-cancelar:hover{
	border:0;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}
.icono-espera{
	width:21px;
}
.label-combo{
	text-align:right;
	margin-top:7px;
}
/*Boton despliega menu */
.btn-display-menu{
	padding-top:28px;
	display:block;
	float:left;
	width:3%;
	min-width:35px;
	height:auto;
}
.etiquetas-semaforo{
	box-sizing: border-box;
	width:93px;
	float:left;
	font-family: Oxygen, Roboto, Calibri, Arial;
	font-size:11px;
	border:1px solid #d8d8d8;
	padding:7px 6px;
	cursor:pointer;
	color:#000;
	background-color:#fefefe;
	margin:0 3px;
}
.etiqueta-semaforo-verde{
	border-left:12px solid #468966;
}
.etiqueta-semaforo-amarillo{
	border-left:12px solid #E7A117;
}
.etiqueta-semaforo-rojo{
	border-left:12px solid #A42127;
}
.etiquetas-estilos{
	box-sizing: border-box;
	float:left;
	font-family: Oxygen, Roboto, Calibri, Arial;
	font-size:11px;
	border:1px solid #d8d8d8;
	padding:7px 6px;
	cursor:pointer;
	color:#000;
	background-color:#fefefe;
	margin:0 3px;
	color:#700961;
	width:93px;
}
.etiquetas-estilos i{
	font-size:14px;
	padding-right:8px;
}
.etiquetas-estilo1{
	color:#700961;
}
.etiquetas-estilo2{
	color:#43498E;
}
.etiquetas-estilo3{
	color:#4B2B30;
}
.etiquetas-estilo4{
	color:#C9182B;
}
.etiquetas-estilo5{
	color:#3B5B5D;
}
.etiquetas-estilo6{
	color:#A2C11C;
}
.etiquetas-estilo7{
	color:#680097;
}
.etiquetas-estilo8{
	color:#64868E;
}
.etiquetas-estilo9{
	color:#F85A16;
}
.etiquetas-estilo10{
	color:#AA9979;
}
.etiquetas-estilo11{
	color:#7B9F8A;
}
.etiquetas-estilo12{
	color:#F40968;
}
.etiquetas-estilo13{
	color:#FF80F3;
}
.etiquetas-estilo14{
	color:#27E1CE;
}
.etiquetas-estilo15{
	color:#F6B61E;
}

.etiquetas-estados{
	box-sizing: border-box;
	float:left;
	font-family: Oxygen, Roboto, Calibri, Arial;
	font-size:11px;
	border:1px solid #d8d8d8;
	padding:7px 6px;
	cursor:pointer;
	color:#fff;
	margin:0 3px;
	width:93px;
}
.etiqueta-capturado{
	background-color:#1293B8;
}
.etiqueta-iniciado{
	background-color:#1994a6;
}
.etiqueta-finalizado{
	background-color:#094455;
}
.mnu-barras{
	font-size:18px;
	padding:0 2px 0 2px;
	color:#666;
}
.mnu-barras:hover{
	color:#1994a6;
}
/* Boton + para modales */
.btn-flotante-modal{
	display:inline-block;
	background-color:#1994a6;
	margin:0px 0px 10px 10px;
	border-radius:50%;
	z-index:1;
	bottom:20px;
	right:20px;
	width:60px;
	height:60px;
	box-shadow: 0px 3px 8px #ddd;
}
.btn-flotante-modal:hover{
	box-shadow: 0px 5px 6px 1px #c2c2c2;
	cursor: pointer;
}
.btn-flotante-texto-modal{
	width:100%;
	color:#fff;
	font-size:17px;
	text-align:center;
	margin-top:calc(50% - 8.5px);
}


/* Boton + flotante */
.btn-flotante{
	display:inline-block;
	background-color:#1994a6;
	margin:0px 0px 10px 10px;
	border-radius:50%;
	position:fixed;
	z-index:1;
	bottom:20px;
	right:50px;
	width:60px;
	height:60px;
	box-shadow: 0px 3px 8px #222;
}
.btn-flotante:hover{
	box-shadow: 0px 5px 6px 1px #c2c2c2;
	cursor: pointer;
}
.btn-flotante-texto{
	width:100%;
	color:#fff;
	font-size:17px;
	text-align:center;
	margin-top:calc(50% - 8.5px);
}

/* Boton + flotante */
.btn-flotante-imagen{
	display:inline-block;
	background-color:#1994a6;
	margin:0px 0px 10px 10px;
	border-radius:50%;
	
	z-index:1;
	top:20px;
	right:50px;
	width:60px;
	height:60px;
	box-shadow: 0px 3px 8px #ddd;
}
.btn-flotante-imagen:hover{
	box-shadow: 0px 5px 6px 1px #c2c2c2;
	cursor: pointer;
}
.btn-flotante-texto-imagen{
	width:100%;
	color:#fff;
	font-size:17px;
	text-align:center;
	margin-top:calc(50% - 8.5px);
}
/* .main-content #sidebar-toggle {
	background: #d4d4d4; /* #1994a6;
	border-radius: 3px;
	display: block;
	position: relative;
	padding: 7px 7px;
} */

/*** SUBMENUS DESPLEGABLES ***/
#accordion {
	list-style: none;
	padding: 0 0 0 0;
}
#accordion li{
	display: block;
	margin: 1px;
	cursor: pointer;
	padding: 5 5 5 7px;
}
#accordion ul {
	list-style: none;
	padding: 0 0 0 0;
	display: none;
}
#accordion ul li{
	cursor: auto;
	padding: 0 0 0 13px;
}
#accordion a {
	text-decoration: none;
}
#accordion a:hover {
	text-decoration: none;
}

/*** ICONOS FONT AWESOME ***/
.fa{
	font-size:18px;
}
.fa-plus{
	color:#fff;
}
.fa:hover{
    cursor:pointer;
}
i{
	float:left;
}
.fa-calendar{
	color:#1994a6;
}
.fa-calendar:hover{
	color:#333;
}
.fa-calendar:active{
	color:#333;
}
.mnus{
	color:#333;
}
.mnus:hover{
	color:#1994a6;
}
.ui-datepicker-prev{
	color:#fff;
}
.icono-tablas{
	float:none;
}

/*** LOGO PRINCIPAL ***/
.contenedorlogo{
	display: block;
    font-size: 24px;
    white-space: nowrap;
    float: left;
    width: 118px;
    margin-left: 40%;
    padding-top: 8px;
}
.logo{
    color: #fff;
    display: block;
    font-size: 24px;
    white-space: nowrap;
    float: left;
	width:118px;
	margin-right:30px;
	padding-top:8px;
}
.logo img{
	min-width:118px;
}


/*** MENU SUPERIOR ***/
.page-top{
	background-color: #fff;
    position: fixed;
    z-index: 904;
    box-shadow: 2px 0 3px rgba(0,0,0,.5);
    width: 100%;
    min-width: 404px;
    padding: 0 0 0 15px;
	height:auto;
	display:block;
	float:clear;
}
.mnu-superior {
	border: 0px solid;
	height: 100%;
	margin-top:4px;
	display: block;
	float: right;
	min-width:200px;
	padding-right:5%;
}
/*** ICONO NOTIFICACIONES (CAMPANA) ***/
.icono-notificaciones{
	position:relative;
	border:0px solid;
	float:right;
	padding-top:20px;
	font-size:28px;
	color:#333;
}
.icono-notificaciones:hover{
	color:#1994a6;
	text-shadow: .055em .055em #ccc;
}
.numero-notificaciones{
	font-size:13px;
	width:10px;
	display:block;
	text-align:center;
	padding-top:2px;
}
.circulo-numero-notificaciones{
	border:1px solid #B20000;
	display:inline-block;
	background-color: #B20000;
	margin-top:12px;
	padding:0px 0px 5px 5px;
	border-radius:50%;
	position:relative;
	float:right;
	z-index:1;
	text-align:center;
	color:#fff;
	bottom:5px;
	right:15px;
	width:15px;
	height:15px;
}

/*** CONTENIDO DE NOTIFICACIONES ***/
.notificaciones{
	border:0px solid #dedede;
	height:100%;
	width:50px;
	display:block;
	float:right;
}
#listanotif{
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
	display:none;
	position:absolute;
	width:280px;
	margin-left:-140px;
	top:72px;
	z-index:999;
	height:auto;
	background-color:#dedede;
}
#listanotif ul{
	list-style:none;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
	width:280px;
}
#listanotif li{
	font-size:15px;
	padding:15px 10px;
	border-bottom: 1px solid #fff;
}
#listanotif li:hover{
	background-color:#cacaca;
	cursor:pointer;
}

.titulonotif{
	background-color:#1994a6;
	color:#fff;
	padding:10px;
	text-align:center;
}
.contenidonotif{
	color:#1994a6;
}
.notificaciones:hover > .circulo-numero{
	background-color: #fff;
	color:#B20000;
	border:1px solid #B20000;
}

/*** CONTENIDO DEL MENU USUARIO ***/
#mnuusuario{
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
	display:none;
	position:absolute;
	width:180px;
	top:72px;
	z-index:999;
	height:auto;
	margin-left:140px;
	background-color:#dedede;
}
#mnuusuario ul{
	list-style:none;
	padding:0px;
	margin-top:0px;
	margin-bottom:0px;
	width:180px;
}
#mnuusuario li{
	padding:8px 10px;
	border-bottom: 1px solid #fff;
	font-size:15px;
}
#mnuusuario ul a i{
	padding:10px 8px 0 12px;
}
#mnuusuario ul a{
	color:black;
}
#mnuusuario ul a:hover{
	color:#1994a6;
}
#mnuusuario li:hover{
	background-color:#cacaca;
}
#mnuusuario ul a{
	text-decoration:none;
}
.contenedor-mnuusuario{
	border:0px solid green;
	height:100%;
	display:block;
	float:right;
	width:350px;
}
.contenedor-mnuusuario:hover{
	cursor:pointer;
}
.nombre-usuario{
	font-family:'Roboto-Bold',Sans-Serif;
	display:table-cell;
	vertical-align:bottom;
	height:45px;
	width:305px;
	float:left;
	text-align:right;
	padding-top:16px;
	font-size:14px;
}
.foto-usuario img{
	padding-top:8px;
	margin:1px;
	margin-left:9px;
	background-color: #fff;
	border-radius:50%;
	float:left;
	width:35px;
}



/**** INDICADORES DE MENUS SUPERIORES (NOTIFICACIONES Y USUARIO) ***/
.indicador-mnu-azul{
	position:absolute;
	z-index:-10;
	margin-left:47%;
	top:-5px;
	width:30px;
	height:30px;
	background-color:#1994a6;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}
.indicador-mnu-gris{
	position:absolute;
	z-index:-10;
	margin-left:47%;
	top:-5px;
	width:30px;
	height:30px;
	background-color:#dedede;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}

/*** CONTENEDORES (COLUMNAS Y FILAS) ***/
.col-iconos{
	width:1%;
}
.coltabla-iconos{
	width:2%;
}
.row{
	float:left;
	width:100%;
	margin:5px 0;
}
.row:after,.row:before{
	display:table;
	content:" "
}
.col1{
	width:6.5%;
}
.col2{
	width:15%;
}
.col3{
	width:23.5%;
}
.col4{
	width:32%;
}
.col5{
	width:40.5%;
}
.col6{
	width:49%;
}
.col7{
	width:57.5%;
}
.col8{
	width:66%;
}
.col8 control-combo{
	width:100%;
}
.col9{
	width:74.5%;
}
.col10{
	width:83%;
}
.col11{
	width:91.5%;
}
.col12{
	width:100%;
}
.ultimo {
    margin-right: 0;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
	box-sizing: border-box;
	float:left;
	padding:4px 4px 0 4px;
}
.coltabla0{
	display:none;
}
.coltabla1{
	width:6.5%;
}
.coltabla2{
	width:15%;
}
.coltabla3{
	width:23.5%;
}
.coltabla4{
	width:32%;
}
.coltabla5{
	width:40.5%;
}
.coltabla6{
	width:49%;
}
.coltabla7{
	width:57.5%;
}
.coltabla8{
	width:66%;
}
.coltabla9{
	width:74.5%;
}
.coltabla10{
	width:83%;
}
.coltabla11{
	width:91.5%;
}
.coltabla12{
	width:100%;
}
.col-numero{
	text-align:right;
	margin-top:6px;
}
.ultimo {
    margin-right: 0;
}
.coltabla1, .coltabla2, .coltabla3, .coltabla4, .coltabla5, .coltabla6, .coltabla7, .coltabla8, .coltabla9, .coltabla10, .coltabla11, .coltabla12{
	box-sizing: border-box;
	padding:4px 4px 0 4px;
}
.texto-izquierda{
	text-align:left;
}
.texto-derecha{
	margin-top:2px;
	text-align:right;
}
.texto-centrado{
	text-align:center;
}

.texto-chico{
	font-size:12px;
}
/**** CONTROLES DEL FORM (INPUTS, LABELS) ***/
.tipo-usuario{
	color:#1994a6;
	font-size:13px;
}
label{
	margin:0px;
	padding-bottom:0px;
}
.control-combo{
	   font-family: 'Roboto',Sans-Serif;
	border: none;
	/* box-shadow: none; */
	box-shadow: 2px 2px 0px #888888;
  display: block;
  width: 100% !important;
  height: 22px;
	font-size:14px;
  padding: 2px;
	padding-top:0px;
	padding-bottom:2px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fafafa;
  background-image: none;
  border-radius: 0;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: all 0.3s;
	text-transform:uppercase;
  background-color: transparent;
  outline: none;

}
.control-login {
	   font-family: 'Roboto',Sans-Serif;
	border: none;
	box-shadow: none;
    display: block;
    width: 100%;
    height: 22px;
	font-size:16px;
	padding-top:0px;
	padding-bottom:4px;
	padding-left:2px;
	padding-right:2px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fafafa;
    background-image: none;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: all 0.3s;
	background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
	outline: none;
}
.controlpwd{
	   font-family: 'Roboto',Sans-Serif;
	border: none;
	box-shadow: none;
    display: block;
    width: 100%;
    height: 20px;
	font-size:16px;
	padding-top:0px;
	padding-bottom:4px;
	padding-left:2px;
	padding-right:2px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fafafa;
    background-image: none;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: all 0.3s;
	background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
	outline: none;
}

.control {
	   font-family: 'Roboto',Sans-Serif;
	border: none;
	box-shadow: none;
    display: block;
    width: 100%;
    height: 18px;
	font-size:14px;
	padding-top:0px;
	padding-bottom:4px;
	padding-left:2px;
	padding-right:2px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fafafa;
    background-image: none;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: all 0.3s;
	/* text-transform:uppercase;*/
    background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
	outline: none;
}

.control:focus:not([readonly]){
  border-bottom: 1px solid #1994a6;
  box-shadow: 0 1px 0 0 #1994a6;
}


.control-area {
	    font-family: 'Roboto',Sans-Serif;
	border: none;
	box-shadow: none;
    display: block;
    width: 100%;
	resize: vertical;
    /*height: 20px;*/
	height: 110px;
	font-size:14px;
	padding-top:0px;
	padding-bottom:4px;
	padding-left:2px;
	padding-right:2px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fafafa;
    background-image: none;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: all 0.3s;
	/* text-transform:uppercase;*/
    background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
	outline: none;
}
.control-hora{
	font-family:Oxygen, Roboto, Calibri, Arial;
	border: none;
	box-shadow: none;
    height: 20px;
	font-size:16px;
	padding-top:0px;
	padding-bottom:4px;
	padding-left:2px;
	padding-right:2px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fafafa;
    background-image: none;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: all 0.3s;
	text-transform:uppercase;
    background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
	outline: none;
}
.control-hora:focus:not([readonly]){
  border-bottom: 1px solid #1994a6;
  box-shadow: 0 1px 0 0 #1994a6;
}

.control-textarea {
	font-family:Oxygen, Roboto, Calibri, Arial;
	font-size:16px;
	border: none;
	box-shadow: none;
    display: block;
    width: 100%;
    padding: 2px 2px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fafafa;
    background-image: none;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: all 0.3s;
	text-transform:uppercase;
    background-color: transparent;
    border-bottom: 1px solid #9e9e9e;
	outline: none;
}
.control-textarea:focus:not([readonly]){
  border-bottom: 1px solid #1994a6;
  box-shadow: 0 1px 0 0 #1994a6;
}

::-webkit-input-placeholder {
  color: #d1d1d1;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #d1d1d1;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #d1d1d1;
}

:-ms-input-placeholder {
  color: #d1d1d1;
}

/****** CALENDARIO *****/
.ui-datepicker {
	width: 17em;
	padding: .2em .2em 0;
	display: none;
	border-radius:6px;
	background-color:#ececec;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}
.ui-datepicker .ui-datepicker-header {
	border-radius:5px;
	position: relative;
	padding: .2em 0;
	background-color:#1994a6;
	color:#fff;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	position: absolute;
	top: 2px;
	width: 1.8em;
	height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
	top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
	left: 2px;
}
.ui-datepicker .ui-datepicker-next {
	right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
	left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -8px;
	top: 50%;
	margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
	margin: 0 2.3em;
	line-height: 1.8em;
	text-align: center;

}
.ui-datepicker .ui-datepicker-title select {
	font-size: 1em;
	margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
	width: 45%;
}
.ui-datepicker table {
	width: 100%;
	font-size: .9em;
	border-collapse: collapse;
	margin: 0 0 .4em;
}
.ui-datepicker th {
	border-radius:4px;
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 1px solid #fff;
	color:#3f3f3f;
	background-color:#d1d1d1;
}
.ui-datepicker td {
	border: 0;
	padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
	display: block;
	padding: .2em;
	text-align: right;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
	background-image: none;
	margin: .7em 0 0 0;
	padding: 0 .2em;
	border-left: 0;
	border-right: 0;
	border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
	float: right;
	margin: .5em .2em .4em;
	cursor: pointer;
	padding: .2em .6em .3em .6em;
	width: auto;
	overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
	float: left;
}
.ui-datepicker .ui-icon {
	display: block;
	text-indent: -99999px;
	overflow: hidden;
	background-repeat: no-repeat;
	left: .5em;
	top: .3em;
}
a.ui-state-default{
	text-align:center;
	color: #333;
	text-decoration: none;
}
a.ui-state-default:hover{
	/* background-color:#ddd; */
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited{
	color: #dedede;
	text-decoration: none;
}


/**** FORMA PARA REPORTE DE USUARIOS ****/
.reportes-usuario{
	z-index:100;
	position:absolute;
	display:none;
	background-color:#fff;
	width:450px;
	box-shadow: 0px 3px 8px #ddd;
	left:calc(50% - 225px);
	top:calc(35% - 150px);
}
.reportes-usuario .col12{

	padding:5px 14px;
}
.titulo-reportes{
	background-color:#1994a6;
	color:#fff;

	text-align:center;
	height:auto;
}
.titulo-reportes:hover{
	cursor:move;
}


/***** CONTENEDOR LOGIN *****/
.contenedor-principal-login{
	background-color:#ccc;
	width:100%;
	float:left;
	height:100%;
}
.contenedor-login{
	position:relative;
	margin:0 auto;
	top:calc(30% - 200px);
	padding:20px;
	background-color:#fefefe;
	border-radius:10px;
	width:350px;
	height:430px;
	display:none;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
}


/**** DISPOSITIVOS ANCHOS DE PANTALLA MENORES ****/
@media (max-width: 930px) {


	.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
		width:100%;
	}
	.texto-derecha{
		text-align:left;
		margin-top:6px;
	}
	.col-numero{
		text-align:right;
		margin-top:6px;
	}
	.col-ocultable2{
		display: none;
	}
	.label-combo{
		text-align:left;
	}
	.ui-tabs .ui-tabs-panel {
     height: 600px;
    overflow-y: scroll;
	}
	.avisos {
    width: 95% !important;
	}
}

/**** DISPOSITIVOS ANCHOS DE PANTALLA MENORES ****/
@media (max-width: 591px) {
	.col-ocultable1{
		display: none;
	}
	.container{
		top:138px;
	}
	.texto-derecha{
		text-align:left;
		margin-top:6px;
	}
	.label-combo{
		text-align:left;
	}
	.modalcapa1{
		text-align:center;
		width:95% !important;
		left:0 !important;
		top:0 !important;
	}
	.ui-tabs .ui-tabs-panel {
     height: 400px;
    overflow-y: scroll;
	}
}


#chart, #chartData {
  border:1px solid gray;
  background: #ebedf2 url("../images/gradient.png") repeat-x 0 0;
}

#chart {
  display: block;
  float: left;
  cursor: pointer;
}

#chartData {

}

/* #chartData th, #chartData td {
  padding: 0.5em;
  border: 1px dotted #666;
  text-align: left;
} */

/* #chartData th {
  border-bottom: 2px solid #333;
  text-transform: uppercase;
} */

#chartData td {
  cursor: pointer;
}

#chartData td.highlight {
  background: #c9c9c9;
  font-weight:bold;
  /* e8e8e8; */
 }

/* #chartData tr:hover td {
  background: #f0f0f0;
} */

.total-registros{
	padding-left:0px;
	font-size:12px;
	font-weight:bold;
	margin:15px;

}
#titulo-tabla{
	padding:20px;
	font-size:16px;
	font-weight:bold;
}
#FormularioExportacion:hover{
	cursor:pointer;
}
.botonExcel{
	width:30px;
	text-align:right;
}
